container{margin:0 auto;}

header{
	position: static;
  	top: 0;
  	left: 0;
  	right: 0;

    width: 100%;
    height: 200px;
    z-index: 10;
    background: #fff;
    margin-bottom: 5px;
}

article{
	width: 65%;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
}

footer{
	position: static;
  	bottom: 0;
  	left: 0;
  	right: 0;

    width: 100%;
    height: 45px;
    margin-top: 5px;
    z-index: 10;
    align-items: center;

    background: #bbb;
}

#search_box{
	border-style: solid; 
	border-width: medium;  
	border-radius: 5em; 
	padding: 0.3em 1.5em 0.3em 1.5em;
	background: rgb(249, 249, 249); 
	margin-left: 5px; 
	border-color: rgb(51, 175, 233);
}

#categoty{
	width: 100px; 
	padding: 0.4em 0.3em; 
	border: none; 
	font-family: inherit;
}

input:focus{
	outline-color: rgb(51, 175, 233)
}

#search_css{
	width:  20em;
	height: 2em; 
	border: none;
}

#menu{
    list-style: none;
    background: rgb(51, 175, 233);

    width: 20%;
    height: 250px;
    margin-top: 5px;
    padding: 5px;

    display: inline-block;
    vertical-align: top;
}

#menu li{
    position: relative;
    margin: 10px;
    padding: 5px;
}

#menu li a{
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 15pt;
    padding: 5px;
    margin: 0;
    color: white;
}

#menu li:hover>a{
    color: black;
    margin: 0;
    padding: 5px;
}